<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Detalhes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gastu</title>

    <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">
</head>

<body>
    <body id="page-top">
                <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a  class="navbar-brand js-scroll-trigger" href="index.html">GASTU</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"type="button" data-toggle="collapse" data-target="#navbarResponsive"aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <button class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown"aria-expanded="false" type="button" id="botaomenu" href="#menu">MENU</button>
                                <div class="dropdown-menu" aria-labelledby="botaomenu">
                                    <a class="dropdown-item" href="#">Ver meu carrinho</a>
                                    <a class="dropdown-item" href="#">Outra ação</a>
                                    <a class="dropdown-item" href="#">Alguma coisa aqui</a>
                                </div>
        
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <button class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger"href="#contato">CONTATO</button>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <button class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger"href="#sair">SAIR</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <center><div style="margin-top: 105px" class="col-lg-4 col-md-5 col-xs-7 thumb;border border-dark;p-3 mb-2 bg-secondary text-white">
        <img class="img-responsive" src="img/coffee.png">
            <center><p>
                <font size="3" face="Helvética">
                    <b>REFRIGERANTES</b><p></p>
            
                    <b>350ml: R$3,00</b> <b>&nbsp;600ml R$5,00</b> <b>&nbsp;1L 7,00</b>
                                
                    <p></p>
                    <b>1. GUARANA 1L</b>
                    <p></p>
                    ---------------------------------☆----------------------------------------
                    <p></p>
                    <b>2. GUARANA 350ML</b>
                            
                    <p></p>
                    ---------------------------------☆----------------------------------------
                    <p></p>
                    <b>3. COCA-COLA 600ML</b>
                    <p></p>
                    ---------------------------------☆----------------------------------------
                    <p></p>
                    <b>4. FANTA LARANJA 350ML</b>
                            
                    <p></p>
                    ---------------------------------☆----------------------------------------
                    <p></p>
                    <b>5. FANTA LARANJA 1L</b>
                            
                    <p></p>
                    ---------------------------------☆----------------------------------------
                    <p></p>
                    <b>6. COCA ZERO 1L</b>
                </font>       
            </p> </center>
        
    </div></center>











        <!--codigos script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"crossorigin="anonymous"></script>


</body>

</html>